<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hotbitmapgg.studyproject"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".hcc.StudyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".hcc.ui.activity.EntryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面-->
        <activity
            android:name=".hcc.ui.activity.MainActivity"
            android:screenOrientation="portrait" />


        <!--Api接口调试界面-->
        <activity
            android:name=".hcc.ui.activity.ApiDebugActivity"
            android:screenOrientation="portrait" />

        <!-- 爱心点赞界面-->
        <activity
            android:name=".hcc.widget_demo.LoveActivity"
            android:screenOrientation="portrait" />

        <!-- Rxjava练习界面-->
        <activity
            android:name=".hcc.rxdemo.RxTestActivity"
            android:screenOrientation="portrait" />

        <!-- RecycleView练习界面-->
        <activity
            android:name=".hcc.recycleview.RecycleViewDemoActivity"
            android:screenOrientation="portrait" />

        <!-- Rxjava例子界面-->
        <activity
            android:name=".hcc.rxdemo.RxJavaSampleActivity"
            android:screenOrientation="portrait" />

        <!-- RxjavaDemo展示界面-->
        <activity
            android:name=".hcc.rxdemo.RxJavaDemoActivity"
            android:screenOrientation="portrait" />

        <!-- 浏览器界面-->
        <activity
            android:name=".hcc.ui.activity.WebActivity"
            android:screenOrientation="portrait" />

        <!-- 视频播放web界面-->
        <activity
            android:name=".hcc.ui.activity.VideoWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar" />


        <!-- Rxjava操作符界面-->
        <activity
            android:name=".hcc.rxjava_operator.RxJavaOperatorActivity"
            android:screenOrientation="portrait" />

        <!-- 自定义进度条展示界面-->
        <activity
            android:name=".hcc.widget_demo.CircleProgressBarActivity"
            android:screenOrientation="portrait" />

        <!-- 贝塞尔曲线展示界面-->
        <activity
            android:name=".hcc.widget_demo.BezaerActivity"
            android:screenOrientation="portrait" />

        <!-- 表格布局展示界面-->
        <activity
            android:name=".hcc.widget_demo.TableActivity"
            android:screenOrientation="portrait" />


        <!-- 个人信息界面-->
        <activity
            android:name=".hcc.ui.activity.HotBitmapGGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar" />

        <!-- 仿探探界面-->
        <activity
            android:name=".hcc.widget_demo.SlideGankMeiziActivity"
            android:screenOrientation="portrait" />

        <!--安卓开发艺术探索读书笔记-->
        <activity
            android:name=".hcc.android_develop_art_explore.AndroidDevelopActivity"
            android:screenOrientation="portrait" />

        <!-- EffectiveJava读书笔记-->
        <activity
            android:name=".hcc.effective_java.EffectiveJavaNoteActivity"
            android:screenOrientation="portrait" />


        <!-- 妹子大图单个浏览界面-->
        <activity
            android:name=".hcc.ui.activity.FuliFullPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar" />

        <!--干货提交界面-->
        <activity
            android:name=".hcc.ui.activity.GankPostActivity"
            android:screenOrientation="portrait" />

        <!-- 干货类型选择界面-->
        <activity
            android:name=".hcc.ui.activity.GankTypeSelectActivity"
            android:screenOrientation="portrait" />

        <!--用户Github界面-->
        <activity
            android:name=".hcc.ui.activity.GitHubUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar" />

        <!--Github登录授权跳转界面-->
        <activity
            android:name=".hcc.ui.activity.GitHubLoginWebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--安卓滑动实现演示界面-->
        <activity
            android:name=".hcc.widget_demo.ScrollDemoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".hcc.ui.activity.GankToDayActivity"
            android:screenOrientation="portrait" />

        <!--serchview-->
        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.searchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />
    </application>

</manifest>