<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hotbitmapgg.studyproject"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hotbitmapgg.gank.GankApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.MainActivity"
            android:screenOrientation="portrait" />


        <!--Api接口调试界面-->

        <!-- 浏览器界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.WebActivity"
            android:screenOrientation="portrait" />

        <!-- 视频播放web界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.VideoWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar" />

        <!-- Rxjava操作符界面-->
        <activity
            android:name="com.hotbitmapgg.gank.notes.rxjava_operator.RxJavaOperatorActivity"
            android:screenOrientation="portrait" />


        <!-- 个人信息界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.HotBitmapGGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar" />

        <!--安卓开发艺术探索读书笔记-->
        <activity
            android:name="com.hotbitmapgg.gank.notes.android_develop_art_explore.AndroidDevelopActivity"
            android:screenOrientation="portrait" />

        <!-- EffectiveJava读书笔记-->
        <activity
            android:name="com.hotbitmapgg.gank.notes.effective_java.EffectiveJavaNoteActivity"
            android:screenOrientation="portrait" />


        <!-- 妹子大图单个浏览界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.BigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar" />

        <!--干货提交界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.SubmitGankActivity"
            android:screenOrientation="portrait" />

        <!--用户Github界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.GitHubUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar" />

        <!--Github登录授权跳转界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.LoginGitHubActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--今日干货数据-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.ToDayGankActivity"
            android:screenOrientation="portrait" />

        <!--关于界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <!--搜索界面-->
        <activity
            android:name="com.hotbitmapgg.gank.ui.activity.SearchGankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Search"
            android:windowSoftInputMode="stateHidden" />


        <!--面试笔记界面-->
        <activity
            android:name="com.hotbitmapgg.gank.notes.learning_notes.LearningNotesActivity"
            android:screenOrientation="portrait" />

        <!--安卓笔记界面-->
        <activity
            android:name="com.hotbitmapgg.gank.notes.gcssloop_android_notes.GcsSloopAndroidNotesActivity"
            android:screenOrientation="portrait" />

        <!--自定义控件笔记-->
        <activity
            android:name="com.hotbitmapgg.gank.notes.ldtk_blog.LdtkBlogActivity"
            android:screenOrientation="portrait" />


        <!--serchview-->
        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.searchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />
    </application>

</manifest>